<%-include("partials/header")-%>

<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-12 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
		  <h2><span>Course Details!</span><br>All courses described below are approved by All India Council for Technical Education,New Delhi and affiliated with I K Gujral Punjab Technical University, Jalandhar as and where applicable.</h2>
		  
          <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>

    </div>
  </section><!-- End Hero -->

  <section id="about" class="about">

	<div class="container" data-aos="fade-up">
	
	<div class="wpb_wrapper">
		<div class="wpb_text_column wpb_content_element " id="tabl">
			<div class="wpb_wrapper">
				<h3>Course Details</h3>
	<p><span class="style15"><br>
	</span></p>
	<p><span class="style12">Undergraduate Course (Regular)</span></p>
	<table border="1px" width="80%">
	<tbody>
	<tr class="style5">
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366cc" width="10%">Sr. No.</td>
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366CC" width="45%">Course Name</td>
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366CC" width="15%">Duration</td>
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366CC" width="15%">Seats</td>
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366CC" width="15%">Starting Year</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">1</td>
	<td class="about-locations" width="45%">B.Tech [Electronics &amp; Communication Engineering]</td>
	<td class="cu-intro" width="15%">4 years</td>
	<td class="cu-intro" width="15%">60</td>
	<td class="cu-intro" width="15%">2002</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">2</td>
	<td class="about-locations" width="45%">B.Tech [Computer Science and Engineering]</td>
	<td class="cu-intro" width="15%">4 years</td>
	<td class="cu-intro" width="15%">90</td>
	<td class="cu-intro" width="15%">2002</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">3</td>
	<td class="about-locations" width="45%">B.Tech [Informational Technology]</td>
	<td class="cu-intro" width="15%">4 years</td>
	<td class="cu-intro" width="15%">30</td>
	<td class="cu-intro" width="15%">2002</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">4</td>
	<td class="about-locations" width="45%">B.Tech [Mechanical Engineering]</td>
	<td class="cu-intro" width="15%">4&nbsp;years</td>
	<td class="cu-intro" width="15%">120</td>
	<td class="cu-intro" width="15%">2003</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">5</td>
	<td class="about-locations" width="45%">B.Tech [Electrical Engineering]</td>
	<td class="cu-intro" width="15%">4&nbsp;years</td>
	<td class="cu-intro" width="15%">60</td>
	<td class="cu-intro" width="15%">2002</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">6</td>
	<td class="about-locations" width="45%">B.Tech. [Civil Engineering]</td>
	<td class="cu-intro" width="15%">4&nbsp;years</td>
	<td class="cu-intro" width="15%">60</td>
	<td class="cu-intro" width="15%">2010</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">7</td>
	<td class="about-locations" width="45%">B.Tech [Food Technology]</td>
	<td class="cu-intro" width="15%">4&nbsp;years</td>
	<td class="cu-intro" width="15%">60</td>
	<td class="cu-intro" width="15%">2014</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">8</td>
	<td class="about-locations" width="45%">B.Sc. [Non-Medical]</td>
	<td class="cu-intro" width="15%">3&nbsp;years</td>
	<td class="cu-intro" width="15%">60</td>
	<td class="cu-intro" width="15%">2018</td>
	</tr>
	</tbody>
	</table>
	<p><span class="style15"><br>
	<span class="style12">Post Graduate Course (Regular)</span></span></p>
	<table border="1px" width="80%">
	<tbody>
	<tr class="style5">
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366CC" width="10%">Sr. No.</td>
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366CC" width="45%">Course Name</td>
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366CC" width="15%">Duration</td>
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366CC" width="15%">Seats</td>
	<td class="cu-intro" style="color: #fff;" bgcolor="#3366CC" width="15%">Starting Year</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">1</td>
	<td class="about-locations" width="45%">Master of Business Administration [Management]</td>
	<td class="cu-intro" width="15%">2&nbsp;years</td>
	<td class="cu-intro" width="15%">60</td>
	<td class="cu-intro" width="15%">2006</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">2</td>
	<td class="about-locations" width="45%">M. Tech. [Electronics &amp; Communication Engineering]</td>
	<td class="cu-intro" width="15%">2&nbsp;years</td>
	<td class="cu-intro" width="15%">24</td>
	<td class="cu-intro" width="15%">2009</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">3</td>
	<td class="about-locations" width="45%">M. Tech. [Elecrtical Engineering]</td>
	<td class="cu-intro" width="15%">2&nbsp;years</td>
	<td class="cu-intro" width="15%">18</td>
	<td class="cu-intro" width="15%">2009</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">4</td>
	<td class="about-locations" width="45%">M. Tech. [Mechanical Engineering]</td>
	<td class="cu-intro" width="15%">2&nbsp;years</td>
	<td class="cu-intro" width="15%">18</td>
	<td class="cu-intro" width="15%">2009</td>
	</tr>
	<tr class="style6">
	<td class="cu-intro" width="10%">5</td>
	<td class="about-locations" width="45%">M. Tech. [Computer Science and Engineering]</td>
	<td class="cu-intro" width="15%">2&nbsp;years</td>
	<td class="cu-intro" width="15%">24</td>
	<td class="cu-intro" width="15%">2013</td>
	</tr>
	</tbody>
	</table>
	<p><span class="style12">Fee Structure</span><br>
	According to I K Gujral Punjab Technical University, Jalandhar norms. Please check here <a href="https://www.ptu.ac.in/" target="_blank" rel="www.ptu.ac.in noopener noreferrer">www.ptu.ac.in</a></p>
	<p><span class="style12">Eligibility Criteria</span><br>
	10+2 Marks(PCM) and as per I K Gujral Punjab Technical University, Jalandhar rules of merit in the admission test. Please check here <a href="https://www.ptu.ac.in/" target="_blank" rel="www.mrsptu.ac.in noopener noreferrer">www.ptu.ac.in</a></p>
	<p>Eligibility B.Sc.(Non-Medical) for M.Sc. and +2(Science) for B.Sc. Agriculture.</p>
	<p><span class="style12">Departments</span></p>
	<ul class="arimage">
	<li>Civil Engineering</li>
	<li>Electrical Engineering</li>
	<li>Mechanical Engineering</li>
	<li>Food and Technology</li>
	<li>Electronics &amp; Communication Engineering</li>
	<li>Computer Science and Engineering</li>
	<li>Information Technology</li>
	<li>Applied Science</li>
	<li>Management</li>
	</ul>
	<p><span class="style12">Syllabus &amp; Academic Calendar</span><br>
	According to I K Gujral Punjab Technical University, Jalandhar norms. Please check here <a href="https://www.ptu.ac.in/" target="_blank" rel="www.ptu.ac.in noopener noreferrer">www.ptu.ac.in</a></p>
	
			</div>
		</div>
	</div>
	
</div>
</section>


<%-include("partials/footer")-%>