

<%-include("partials/header" )-%>



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-12 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
            <h2>Your Career Needs<br><span>Bhai Gurdas Institute of Engineering and Technology</span></h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Learn More</a>
          </div>
        </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
     
  
          <div class="row">
  
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
              <div class="box">
                <div><img src="assets/img/star.png" alt=""></div><br>
                <h4 class="title"><a href="">TOP ENGINEERING COLLEGE</a></h4>                
              </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="box">
                <div><img src="assets/img/books.png" alt=""></div><br><br>
                <h4 class="title"><a href="">COURSES</a></h4>
                
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="box">
                <div><img src="assets/img/book.png" alt=""></div><br>
                <h4 class="title"><a href="">ADMISSIONS OPEN 2020-2021</a></h4>
               
              </div>
            </div>
           
          </div>
  
        </div>
  
        </div>
      </section>











    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img" data-aos="fade-right" data-aos-delay="100">
              <h3>From Director’s Desk</h3><br>
                <img src="assets/img/director.jpg" alt="">
                <h3> </h3><br>
                <!-- <i class="ion-android-checkmark-circle"></i> -->
                <h3> Dr. Tanuja Srivastava</h3>
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
              <h2>About Us</h2>
              <h3>BHAI GURDAS INSTITUTE OF ENGINEERING & TECHNOLOGY</h3>
              <p>Welcome</p>
              <p>Bhai Gurdas Institute of Engineering and Technology, committed to the cause of skilled and quality education at par with Global Standards, appeared on the academic front in 2002. Bhai Gurdas Group has the credit of establishing the first private engineering college in Punjab. The Group has successfully been running seventeen institutions in various districts of Punjab. Bhai Gurdas Group has been established with the objective of providing high-quality education in Engineering, Technology, Management, and medical sciences. This year the group has introduced one more institute of Technology. This is an I.K.G. Punjab Technical University, Kapurthala. affiliated and AICTE approved institution. The ultimate aim of the Institution is to create a better nation by creating better citizens. Bhai Gurdas Group of Institutes believes in the overall growth of its students.that they remain united with their human ways of living.</p>
              
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->

    <section id="why-us" class="why-us">
        <div class="container-fluid container" data-aos="fade-up">

            <header class="section-header">
              <h3>Why choose us?</h3>
             <br>
            </header>
    
            <div class="row">
                
              <div class="col-lg-6">
                <div class="why-us-content">    
                  <div class="features clearfix" data-aos="fade-up" data-aos-delay="100">
                    <i class="fa fa-diamond" style="color: #f058dc;"></i>
                    <h4>Our Mission</h4><br>
                    <ul>
                        <li>To develop technical manpower of quality standards with capabilities of accepting new challenges.</li>
                        <li>To provide excellent teaching and research environment.</li>
                        <li>To promote collaborative coexistence amongst academic institute and industries for resource sharing.</li>
                    </ul>
                  </div>
    
                  <div class="features clearfix" data-aos="fade-up" data-aos-delay="200">
                    <i class="fa fa-object-group" style="color: #ffb774;"></i>
                    <h4>Our Vision</h4>
                    <p>To impart value based multidisciplinary quality education to the students which can enable them to contribute their knowledge in industrial development, technology revolution and economic growth of the nation with global perspective.</p>
                  </div>
    
                  <div class="features clearfix" data-aos="fade-up" data-aos-delay="300">
                    <i class="fa fa-language" style="color: #589af1;"></i>
                    <h4>Quality Policy</h4>
                    <p>We are committed to provide and continually improve the healthy learning environment and supporting facilities for the students at Under Graduate and Post Graduate level to achieve academic excellence for better opportunities.</p>
                  </div>
    
                </div>
    
              </div>
              <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                <div class="why-us-img">
                  <img src="assets/img/mission.jpg" alt="" class="img-fluid">
                </div>
              </div>
    
    
            </div>
    
          </div>


    <div class="counternumber container">
        <div class="row counters" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">8</span>
            <p>COLLEGES</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">50</span>
            <p>COURSES</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">500</span>
            <p>STAFF MEMBERS
            </p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">11,000</span>
            <p>STUDENTS</p>
          </div>

        </div>

      </div>

   
</section>

<section id="why-us" class="why-us">
    <div class="container-fluid" data-aos="fade-up">

        <header class="section-header">
          <h3>CAMPUS VIRTUAL TOUR</h3>
         <br>
        </header>
  </div>
  <div class="container">
    <!-- https://youtu.be/2BwtM8xUgcs -->
    <div class="embed-responsive embed-responsive-16by9">
        <!-- <iframe class="embed-responsive-item" src="https://youtu.be/2BwtM8xUgcs" allowfullscreen></iframe> -->
        <iframe width="1166" height="874" src="https://www.youtube.com/embed/2BwtM8xUgcs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>











<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

      <header class="section-header">
        <h3>Our Clients</h3>
      </header>

      <div class="owl-carousel clients-carousel">
        <img src="assets/img/clients/client-1.png" alt="">
        <img src="assets/img/clients/client-2.png" alt="">
        <img src="assets/img/clients/client-3.png" alt="">
        <img src="assets/img/clients/client-4.png" alt="">
        <img src="assets/img/clients/client-5.png" alt="">
        <img src="assets/img/clients/client-6.png" alt="">
      </div>

    </div>
  </section><!-- End Clients Section -->



<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="zoom-out">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Call To Action</h3>
          <p class="cta-text"> GET ADMISSON IN BEST ENGINEERING & TECHNOLOGY COLLEGE IN PUNJAB, INDIA</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Register Now</a>
        </div>
      </div>

    </div>
  </section><!--  End Call To Action Section -->





</main><!-- End #main -->




<%-include("partials/footer")-%>