<%-include("partials/header")-%>


<section id="services" class="services section-bg">
  <div class="container " data-aos="fade-up">


<section>
    <div class="container p-5">
      <!-- For demo purpose -->
      <div class="row mb-5 text-center text-white">
        <div class="col-lg-10 mx-auto">
          <h1 class="display-4"> </h1>
        </div>
      </div>
      <!-- End -->
  
  
      <div class="row">
        <div class="col-lg-5 mx-auto">
          <div class="p-5 bg-white shadow rounded-lg"><img src="https://res.cloudinary.com/mhmd/image/upload/v1557366994/img_epm3iz.png" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">
  
            <!-- Default bootstrap file upload-->
  
            <h4 class="text-center mb-4 text-muted">
              Submit Your Assignment!
            </h4>
            
            <form ref='uploadForm' name="uploadform" id='uploadForm' action='/upload'  method='post'  enctype="multipart/form-data">
          
                  
              <div class="custom-file overflow-hidden rounded-pill mb-5">
                <input id="fileUpload" type="file" name="foo" class="custom-file-input rounded-pill">
                <label for="fileUpload" class="custom-file-label rounded-pill">Choose file</label>
              </div>
                    
                                <input class="file-upload btn btn-primary btn-block rounded-pill shadow" type='submit' value='Upload!' required/>
                                <a href="/profile" class="file-upload btn btn-primary btn-block rounded-pill shadow">Go Back</a>
                                </form>   
                        <!-- <input  id="fileUpload" type="file" name="foo">
                    <label for="fileUpload" class=" file-upload btn btn-primary btn-block rounded-pill shadow">
                      Choose a File
                    </label>
                             -->
            
            <!-- End -->
  
            
            <!-- Custom bootstrap upload file-->
            <!-- <label for="fileUpload" class="file-upload btn btn-primary btn-block rounded-pill shadow"> -->
                          
                      <!-- </label> -->
            <!-- End -->
  
          </div>
        </div>
      </div>
    </div>
  </section>
</div></section>
<script type="application/javascript">
  $('input[type="file"]').change(function(e){
      var fileName = e.target.files[0].name;
      $('.custom-file-label').html(fileName);
  });
</script>

<%-include("partials/footer")-%>